# ─── App ───────────────────────────────────────
SITE_NAME="Human Rights & Social Work"
SITE_URL=http://localhost:8080
ADMIN_EMAIL=admin@example.com

# ─── MongoDB ───────────────────────────────────
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/?appName=<AppName>
MONGODB_DB=humanrights_db

# ─── Cloudinary ────────────────────────────────
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>
